@model SessionTraining.Models.Entities.User


<h1 class="display-4">Login</h1>

<div class="form-group col-lg-3">
    <label asp-for="Username" class="control-label"></label>
    <input asp-for="Username" class="form-control" />
    <span asp-validation-for="Username" class="text-danger"></span>

    <input asp-action="Authenticate" type="submit" value="Login" class="btn btn-primary" />
</div>